extends layout

block content
	h4 Welcome back <strong>#{user.username}</strong>!
	br
	h2 Add a movie
	input.form-control.form-control-lg#movieSearch(type='text' oninput='movieSearch()' placeholder='Search by movie title')
	br
	.loader
	div#movieSearchResults
	br
	h2 Last movies watched 
		if watchedMovies.count - watchedMovies.movies.length > 0
			a.badge.badge-secondary(href="/movies-watched") +#{watchedMovies.count - watchedMovies.movies.length}
	if watchedMovies.length === 0
		p You didn't add any movie yet? ☹ Use the search bar above to add your first one!
	.row
		each watchedMovie in watchedMovies.movies
			.col-12.col-md-6.col-lg-3.movie-card
				.card
					if watchedMovie.poster != "N/A"
						img.card-img-top(src=watchedMovie.poster, alt=watchedMovie.title)
					.card-body
						p.card-text 
							strong #{watchedMovie.title}
							a.btn.btn-sm.btn-danger.float-right(title="Remove from watched movies", href="/movie/mark-unwatched/" + watchedMovie.imdbId)
								i.fas.fa-times
							br
							| #{watchedMovie.year}, #{watchedMovie.runtime} min
							br
							| Viewed on: #{moment(watchedMovie.viewedAt).format("MMMM Do YYYY")}
							|
							button.btn.btn-sm.btn-warning(
								data-toggle="modal"
								data-target="#changeDateModal"
								data-movie-imdb-id=watchedMovie.imdbId
								data-movie-title=watchedMovie.title
								data-watched-date=moment(watchedMovie.viewedAt).format("YYYY-MM-DD")
							)
								i.far.fa-edit
	br
	h2 Recommendations
	p In developement
	br
	h2 Statistics
	if userStat
		p You watched #[strong #{userStat.moviesCount}] movies for a total watch time of #[strong #{moment.duration(userStat.moviesWatchtime, "minutes").format("y [year], M [month], d [day], h [hour], m [min]")}].
	else
		p There are no statistics available for now ☹

	#changeDateModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="changeDateModalLabel" aria-hidden="true")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					h5#changeDateModalLabel.modal-title Change the watch date
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") ×
				.modal-body
					p Change the watch date of <span id="movieTitle"></span>
					input#date(type="date" required)
					input#imdbId(type="hidden")
				.modal-footer
					button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
					button.btn.btn-primary(type="button" onclick="changeWatchDate()") Save date